<a href="https://colab.research.google.com/github/ChrisX215/Algoritma-Pemrograman-2025/blob/main/Praktikum_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01 - Membuat dan Mengakses List 1D

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici"]
print(mahasiswa[0])     # Andi
print(mahasiswa[1])     # Budi
print(mahasiswa[-1])    # Cici

Andi
Budi
Cici

# Praktikum 02 - Update dan Operasi Dasar List

In [ ]:
nilai = [85, 90, 78]
nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

# Praktikum 03 - Slicing List

In [ ]:
nilai = [85, 90, 78, 92, 88]
print(nilai[0:3])    # [85, 90, 78]
print(nilai[2:1])    # [78, 92, 88]
print(nilai[:3])     # [85, 90, 78]

[85, 90, 78]
[]
[85, 90, 78]

# Praktikum 04 - List 2D (Matriks)

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriks[0][0])   # 1
print(matriks[1][2])   # 6
print(matriks[2])      # [7, 8, 9]

1
6
[7, 8, 9]

# Praktikum 05 - Operasi pada List 2D

In [1]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range(len(A)):
     baris = []
     for j in range(len(A[0])):
         baris.append(A[i][j] + B[i][j])
     C.append(baris)

print(C)

[[8, 10, 12], [14, 16, 18]]

# Praktikum 06 - Studi Kasus: Pengelolaan Nilai Mahasiswa

In [2]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
    ]
for i, baris in enumerate (nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata nilai mahasiswa {i} adalah {rata:.2f}")

Rata-rata nilai mahasiswa 1 adalah 85.00
Rata-rata nilai mahasiswa 2 adalah 75.00
Rata-rata nilai mahasiswa 3 adalah 88.00

# Penugasan 01 - Akses Elemen List

In [3]:
mahasiswa = ["Christyan", "Fabiano", "Yehezkiel", "Abi", "Aziz"]
print("Nama pertama:", mahasiswa[0])
print("Nama terakhir:", mahasiswa[-1])
print("Nama pada indeks ke-2:", mahasiswa[2])

Nama pertama: Christyan
Nama terakhir: Aziz
Nama pada indeks ke-2: Yehezkiel

# Penugasan 02 - Operasi Dasar List

In [5]:
nilai = [70, 75, 80]
nilai[1] = 85
nilai.append(90)
nilai.remove(70)
print("Hasil akhir:", nilai)

Hasil akhir: [85, 80, 90]

# Penugasan 03 - Slicing List

In [4]:
angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("3 elemen pertama:", angka[:3])
print("4 elemen terakhir:", angka[-4:])
print("Elemen dengan indeks genap:", angka[::2])

3 elemen pertama: [1, 2, 3]
4 elemen terakhir: [7, 8, 9, 10]
Elemen dengan indeks genap: [1, 3, 5, 7, 9]

# Penugasan 04 - List 2D – Matriks

In [7]:
matriks = [
    [1, 2, 3],
    [4, 5, 6]
]

print(matriks[0][1])
print(matriks[1][2])
print(matriks[0])

2
6
[1, 2, 3]

# Penugasan 05 - Operasi Matriks 2D

In [6]:
matriks_a = [[2, 4, 6], [8, 10, 12]]
matriks_b = [[14, 16, 18], [20, 22, 24]]
matriks_c = []

for i in range(len(matriks_a)):
  baris = []
  for j in range (len(matriks_a[0])):
    baris.append(matriks_a[i][j] + matriks_b[i][j])
  matriks_c.append(baris)

print(matriks_c)

[[16, 20, 24], [28, 32, 36]]

# Penugasan 06 - Rata-rata Nilai Mahasiswa

In [ ]:
nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i in range(len(nilai)):
    rata = sum(nilai[i]) / len(nilai[i])
    print("Rata-rata mahasiswa", i+1, "=", rata)

# Penugasan 07 - Studi Kasus – Data Toko

In [8]:
stok = [
    ["Buku", 20],
    ["Pulpen", 35],
    ["Penghapus", 15]
]

for barang in stok:
    print(barang[0], ":", barang[1])

terbanyak = stok[0]
for barang in stok:
    if barang[1] > terbanyak[1]:
        terbanyak = barang

print("Barang dengan stok terbanyak:", terbanyak[0], "=", terbanyak[1])

Buku : 20
Pulpen : 35
Penghapus : 15
Barang dengan stok terbanyak: Pulpen = 35