<a href="https://colab.research.google.com/github/ChrisX215/Algoritma-Pemrograman-2025/blob/main/Praktikum_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01 – Tuple: Data Tetap yang Tidak Bisa Diubah

In [1]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

# Praktikum 02 – Dictionary Dasar: Menyimpan Data Mahasiswa

In [2]:
mahasiswa = {
     "NIM": "20251001",
     "Nama": "Andi",
     "Prodi": "TRK"
 }
print("NIM :", mahasiswa["NIM"])
print("Nama:", mahasiswa["Nama"])
print("Prodi:", mahasiswa["Prodi"])

NIM : 20251001
Nama: Andi
Prodi: TRK

# Praktikum 03 – Operasi pada Dictionary

In [4]:
mahasiswa = {
    "NIM" : "20251001",
    "Nama" : "Andi",
    "Prodi" : "TRK"
}
mahasiswa["umur"] = 19
mahasiswa["Prodi"] = "Teknik Komputer"
del mahasiswa["umur"]

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

# Praktikum 04 – Set dan Operasi Himpunan

In [5]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

# Praktikum 05 – Studi Kasus: Data Mahasiswa dan Mata Kuliah

In [6]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Bahasa Inggris', 'Algoritma', 'Matematika'}
Mata kuliah Mhs2: {'Matematika', 'Basis Data', 'Algoritma'}
Mata kuliah yang sama: {'Algoritma', 'Matematika'}

# Praktikum 06 – Studi Kasus Dictionary: Daftar Nilai Mahasiswa

In [7]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
}
for nama, nilai in nilai_mahasiswa.items():
     print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

# Penugasan 01 - Tuple Sederhana

In [8]:
mahasiswa = ("Abi", 18, "TRK")

print(f"Nama:", mahasiswa[0])
print(f"Umur:", mahasiswa[1])
print(f"Prodi:", mahasiswa[2])

Nama: Abi
Umur: 18
Prodi: TRK

# Penugasan 02 - Tuple Tidak Bisa Diubah

In [9]:
nilai = (1, 2, 3)

nilai[1] = 5

print(nilai)

TypeError: 'tuple' object does not support item assignment

# Penugasan 03 - Dictionary Dasar

In [14]:
buku = {
    "Judul" : "Algoritma",
    "Penulis" : "Munir",
    "Tahun" : 2021
}

print("Judul:", buku["Judul"])
print("Penulis:", buku["Penulis"])
print("Tahun:", buku["Tahun"])

Judul: Algoritma
Penulis: Munir
Tahun: 2021

# Penugasan 04 - Operasi Dictionary

In [15]:
dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}

dosen["Umur"] = 40
dosen["Prodi"] = "Teknik Komputer"
del dosen["Umur"]

print(dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

# Penugasan 05 - Set dan Himpunan

In [16]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {'Algoritma', 'Bahasa Inggris', 'Basis Data', 'Matematika'}
Intersection: {'Algoritma', 'Matematika'}
Difference: {'Bahasa Inggris'}

# Penugasan 06 - Studi Kasus Dictionary

In [17]:
nilai = {
    "Andi": 85,
    "Budi": 90,
    "Cici": 78
}

for nama, skor in nilai.items():
    print(nama, ":", skor)

rata = sum(nilai.values()) / len(nilai)
print("Rata-rata nilai =", rata)

Andi : 85
Budi : 90
Cici : 78
Rata-rata nilai = 84.33333333333333

# Penugasan 07 - Studi Kasus Set - Klub Mahasiswa

In [21]:
klub_A = {"Andi", "Budi", "Cici"}
klub_B = {"Cici", "Deni", "Eka"}

seluruh_anggota = klub_A.union(klub_B)

anggota_kedua_klub = klub_A.intersection(klub_B)

anggota_hanya_A = klub_A.difference(klub_B)

print("Daftar seluruh anggota (Union):", seluruh_anggota)
print("Anggota di kedua klub (Intersection):", anggota_kedua_klub)
print("Anggota hanya di Klub A (Difference):", anggota_hanya_A)

Daftar seluruh anggota (Union): {'Andi', 'Deni', 'Budi', 'Eka', 'Cici'}
Anggota di kedua klub (Intersection): {'Cici'}
Anggota hanya di Klub A (Difference): {'Andi', 'Budi'}